# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / testing cache
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code / IDE settings
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Large / temporary archives
*.zip
*.log
